<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nhà Hàng NTP</title>
    <!-- Bootstrap Core CSS -->



    <script src='~/js/jquery.min6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/bootstrap.min6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/parallax6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/common6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/revslider6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/jquery.mobile-menu.min6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/owl.carousel.min6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/jgrowl6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/api.jquery21a3.js?137261' type='text/javascript'></script>
    <script src='~/js/cs.script6bda.js?1458038052759' type='text/javascript'></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>



    <link href="~/Content/Admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Content/Admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/Admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/Admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <script src="~/ckeditor/ckeditor.js"></script>
    <link href="~/Content/stylesAdmin.css" rel="stylesheet" />








</head>
<body>
    <div id="wrapper">
        @RenderSection("scripts", required: false)
        <!-- Navigation -->
        @Html.Partial("_NavigationPartial")
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        @RenderBody()
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    @*<script src="~/Content/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/Admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript --><script src="~/Content/Admin/dist/js/sb-admin-2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@




</body>
</html>
