<!DOCTYPE html>

<html>
<head>

    


    <title>Nhà Hàng Nguyễn Tài Phúc! @ViewBag.Title</title>
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <!-- Title and description ================================================== -->

    <meta name="description" content="Dụng cụ làm Bento giúp bữa cơm của bé sinh động hơn, bé sẽ được học qua các món ăn, hứng thú với bữa cơm và ăn ngon miệng hơn.">

    <!-- Product meta ================================================== -->

    <meta property="og:type" content="website">
    <meta property="og:title" content="C&#249;ng trao gửi y&#234;u thương với yeubento.vn c&#225;c bạn nh&#233;!">


    <meta property="og:description" content="Dụng cụ làm Bento giúp bữa cơm của bé sinh động hơn, bé sẽ được học qua các món ăn, hứng thú với bữa cơm và ăn ngon miệng hơn.">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="Cùng trao gửi yêu thương với yeubento.vn các bạn nhé!">

    <!-- Helpers ================================================== -->
    <link rel="canonical" href="index.html">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../bizweb.dktcdn.net/100/017/535/themes/24797/assets/favicon6bda.png?1458038052759" type="image/x-icon" />
    <!-- fonts -->
    <!-- JavaScript -->
    <script src='~/js/jquery.min6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/bootstrap.min6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/parallax6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/common6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/revslider6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/jquery.mobile-menu.min6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/owl.carousel.min6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/jgrowl6bda.js?1458038052759' type='text/javascript'></script>
    <script src='~/js/api.jquery21a3.js?137261' type='text/javascript'></script>
    <script src='~/js/cs.script6bda.js?1458038052759' type='text/javascript'></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Styles -->
    <!-- CSS Style -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='~/css/bootstrap.min6bda.css?1458038052759' rel='stylesheet' type='text/css' />
    <link href='~/css/styles6bda.css?1458038052759' rel='stylesheet' type='text/css' />
    <link href='~/css/revoslider6bda.css?1458038052759' rel='stylesheet' type='text/css' />
    <link href='~/css/owl.carousel6bda.css?1458038052759' rel='stylesheet' type='text/css' />
    <link href='~/css/owl.theme6bda.css?1458038052759' rel='stylesheet' type='text/css' />
    <link href='~/css/font-awesome6bda.css?1458038052759' rel='stylesheet' type='text/css' />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href='~/css/jgrowl6bda.css?1458038052759' rel='stylesheet' type='text/css' />
    <link href='~/css/jquery.mobile-menu6bda.css?1458038052759' rel='stylesheet' type='text/css' />
    <link href='~/css/responsive6bda.css?1458038052759' rel='stylesheet' type='text/css' />



    @RenderSection("styles", false)
    @RenderSection("Scripts", false)




    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <link href="~/Content/Admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Content/Admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/Admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/Admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <script src="~/ckeditor/ckeditor.js"></script>
    <link href="~/Content/stylesAdmin.css" rel="stylesheet" />

</head>
<body class="">

    <div id="page">


        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Nhà Hàng Nguyễn Tài Phúc</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>

                    <!-- /.dropdown-messages -->
                </li>

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
           
            </ul>
       
        </nav>
        @RenderBody()
    </div>

</body>
</html>

