

<div id="magik-slideshow" class="magik-slideshow">
    <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
        <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
            <ul>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='~/Photos/Banner/2Bnner.jpg' onclick="">
                    <img src='~/Photos/Banner/2Bnner.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="" />
                </li>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='~/Photos/Banner/2Bnner02.jpg' onclik="">
                    <img src='~/Photos/Banner/2Bnner02.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="" />
                </li>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='~/Photos/Banner/2Bnner03.jpg' onclick="">
                    <img src='~/Photos/Banner/2Bnner03.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="" />
                </li>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='~/Photos/Banner/2Bnner04.jpg' onclick="">
                    <img src='~/Photos/Banner/2Bnner04.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="" />
                </li>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='~/Photos/Banner/2Bnner05.jpg' onclick="">
                    <img src='~/Photos/Banner/2Bnner05.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="" />
                </li>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='~/Photos/Banner/2Bnner06.jpg' onclick="">
                    <img src='~/Photos/Banner/2Bnner06.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="" />
                </li>
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='~/Photos/Banner/2Bnner07.jpg' onclick="">
                    <img src='~/Photos/Banner/2Bnner07.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="" />
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</div>