<div class="our-features-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box">
                    <div class="featuresicon"><img src="~/images/ship9068.png" /></div>
                    <div class="content">Giao hàng toàn quốc</div>
                    <span></span>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box">
                    <div class="featuresicon"><img src="~/images/tuvan9068.png" /></div>
                    <div class="content">Hỗ trợ khách hàng</div>
                    <span></span>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box">
                    <div class="featuresicon"><img src="~/images/dathang7dd9.png" /></div>
                    <div class="content">Đặt hàng nhanh chóng</div>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
